<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tangaya.quranasrclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_ra"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".murojaah.main.MurojaahActivity" />
        <activity android:name=".devspace.DevspaceActivity" />
        <activity android:name=".setting.ServerSettingActivity" />
        <activity android:name=".util.AudioRecordTest" />
        <activity android:name=".murojaah.chapterselection.ChapterSelectionActivity" />
        <activity android:name=".murojaah.scoreboard.ScoreboardActivity" />
        <activity android:name=".about.AboutActivity" />
        <activity android:name=".murojaah.evaldetail.EvalDetailActivity" />
        <activity android:name=".murojaah.tutorial.TutorialActivity" />
        <activity android:name=".devspace.DevspaceDetailActivity"></activity>
    </application>

</manifest>